In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [11]:
query = """
SELECT created_date, closed_date, descriptor,
    location_type, incident_zip,
    borough, latitude, longitude
FROM 
`bigquery-public-data.new_york.311_service_requests` 
WHERE complaint_type = 'HEAT/HOT WATER'
--LIMIT 1000

"""

In [12]:
df = pd.read_gbq(query, project_id='np-hacks',verbose=True, private_key='auth_key.json', dialect='standard')

Requesting query... ok.
Job ID: job_Y0Bq0zwhlu8RihpMnTcBJ4fMrkwD
Query running...
Query done.
Processed: 1.5 GB
Standard price: $0.01 USD

Retrieving results...
  Got page: 1; 6.0% done. Elapsed 14.81 s.
  Got page: 2; 12.0% done. Elapsed 21.16 s.
  Got page: 3; 19.0% done. Elapsed 28.26 s.
  Got page: 4; 25.0% done. Elapsed 33.21 s.
  Got page: 5; 31.0% done. Elapsed 39.53 s.
  Got page: 6; 37.0% done. Elapsed 46.1 s.
  Got page: 7; 44.0% done. Elapsed 51.8 s.
  Got page: 8; 50.0% done. Elapsed 59.52 s.
  Got page: 9; 56.0% done. Elapsed 65.76 s.
  Got page: 10; 62.0% done. Elapsed 71.3 s.
  Got page: 11; 68.0% done. Elapsed 79.14 s.
  Got page: 12; 75.0% done. Elapsed 85.26 s.
  Got page: 13; 81.0% done. Elapsed 91.15 s.
  Got page: 14; 87.0% done. Elapsed 100.41 s.
  Got page: 15; 93.0% done. Elapsed 106.96 s.
  Got page: 16; 100.0% done. Elapsed 112.95 s.
  Got page: 17; 100.0% done. Elapsed 113.87 s.
Got 703178 rows.

Total time taken 165.36 s.
Finished at 2017-09-23 13:23:42.

In [13]:
df.head()

,created_date,closed_date,descriptor,location_type,incident_zip,borough,latitude,longitude
0,2016-12-16 16:48:23,2016-12-26 02:06:47,APARTMENT ONLY,RESIDENTIAL BUILDING,11691,QUEENS,40.602244,-73.753957
1,2015-06-04 00:00:00,2015-06-09 00:00:00,ENTIRE BUILDING,RESIDENTIAL BUILDING,11691,QUEENS,40.602244,-73.753957
2,2016-10-25 15:09:49,2016-10-30 08:48:56,ENTIRE BUILDING,RESIDENTIAL BUILDING,11691,QUEENS,40.602244,-73.753957
3,2016-10-10 07:36:32,2016-10-12 10:56:01,ENTIRE BUILDING,RESIDENTIAL BUILDING,11691,QUEENS,40.602244,-73.753957
4,2014-03-31 00:00:00,2014-04-07 00:00:00,ENTIRE BUILDING,RESIDENTIAL BUILDING,11691,QUEENS,40.602244,-73.753957

In [14]:
df.to_csv("hhw.csv")

In [30]:
# per fiscal year, total calls and mean time to resolution
query2 = """
SELECT AVG(close_days) AS avg_close_days,
    count(*) AS n,
    fiscal_year
FROM
(
SELECT DATETIME_DIFF(DATETIME(closed_date), DATETIME(created_date), DAY) AS close_days, 
    EXTRACT(YEAR FROM DATETIME_ADD(DATETIME(created_date), INTERVAL 6 MONTH)) AS fiscal_year
--     created_date,
--     closed_date
FROM 
`bigquery-public-data.new_york.311_service_requests` 
WHERE complaint_type = 'HEAT/HOT WATER'
) x
GROUP BY fiscal_year
ORDER BY fiscal_year
LIMIT 1000

"""

In [31]:
df2 = pd.read_gbq(query2, project_id='np-hacks',verbose=True, private_key='auth_key.json', dialect='standard')

Requesting query... ok.
Job ID: job_2YzZpEla_xhvH24RVjTMdTdEt50k
Query running...
Query done.
Processed: 513.6 MB
Standard price: $0.00 USD

Retrieving results...
Got 5 rows.

Total time taken 2.03 s.
Finished at 2017-09-23 13:35:13.

In [32]:
df2

   avg_close_days       n  fiscal_year
0        3.337840   34853         2014
1        3.739793  240710         2015
2        3.541129  210362         2016
3        3.034665  210422         2017
4        4.135277    6831         2018

In [33]:
df2.to_csv("hhw_summary.csv")

In [34]:
# by borough
# per fiscal year, total calls and mean time to resolution
query3 = """
SELECT AVG(close_days) AS avg_close_days,
    count(*) AS n,
    borough,
    fiscal_year
FROM
(
SELECT DATETIME_DIFF(DATETIME(closed_date), DATETIME(created_date), DAY) AS close_days, 
    EXTRACT(YEAR FROM DATETIME_ADD(DATETIME(created_date), INTERVAL 6 MONTH)) AS fiscal_year,
    borough
FROM 
`bigquery-public-data.new_york.311_service_requests` 
WHERE complaint_type = 'HEAT/HOT WATER'
) x
GROUP BY borough, fiscal_year
ORDER BY borough, fiscal_year
LIMIT 1000

"""

In [35]:
df3 = pd.read_gbq(query3, project_id='np-hacks',verbose=True, private_key='auth_key.json', dialect='standard')
df3.to_csv("hhw_summary_borough.csv")

Requesting query... ok.
Job ID: job_1P0CLoYgpDek6Dcgf5C7yIx7daS4
Query running...
Query done.
Processed: 662.7 MB
Standard price: $0.00 USD

Retrieving results...
Got 25 rows.

Total time taken 2.08 s.
Finished at 2017-09-23 13:44:07.

In [36]:
df3

    avg_close_days      n        borough  fiscal_year
0         2.892283  12015          BRONX         2014
1         3.259046  79670          BRONX         2015
2         3.106135  68159          BRONX         2016
3         3.357202  67982          BRONX         2017
4         3.205319   1950          BRONX         2018
5         3.379777  10137       BROOKLYN         2014
6         3.960647  72310       BROOKLYN         2015
7         3.931229  62607       BROOKLYN         2016
8         2.445958  65302       BROOKLYN         2017
9         4.508764   2292       BROOKLYN         2018
10        3.440053   8279      MANHATTAN         2014
11        3.912208  55022      MANHATTAN         2015
12        3.417601  50122      MANHATTAN         2016
13        2.819188  46787      MANHATTAN         2017
14        4.385987   1645      MANHATTAN         2018
15        4.285013   4077         QUEENS         2014
16        4.112031  31421         QUEENS         2015
17        3.920600  27480         QUEENS         2016
18        3.904107  28283         QUEENS         2017
19        4.587450    822         QUEENS         2018
20        3.976812    345  STATEN ISLAND         2014
21        4.252733   2287  STATEN ISLAND         2015
22        4.065730   1994  STATEN ISLAND         2016
23        3.926015   2068  STATEN ISLAND         2017
24        5.913793    122  STATEN ISLAND         2018